<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddPatient.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ED38DC150DD4AD27BD32E3D28E0D9FB3788530BB</string>
				<key>dateExpires</key>
				<string>16/08/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7MKD84884C.myonsitehealthcare.myHealthConcierge</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4N342XE5DN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AddPatient.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8a55d4af-2d57-43d2-ac02-1f10ccd96199</string>
				<key>dateExpires</key>
				<string>22/08/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4N342XE5DN</string>
				<key>name</key>
				<string>Indralok LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
